@model ReviewModelDemoMVC.Models.ViewModels.ProductSuplayViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h1>Suplay</h1>
@foreach (var item in Model.Suplays) 
{
        <li>
             @item.Name 
        </li>
}     
<h1>Product</h1>
            @foreach (var prod in Model.Products)
            {
                <li>
                      @prod.Name @prod.Price
                </li>         
        
}
    </tbody>
</table>
