@{
    ViewData["Title"] = "Home Page";
}

<html>
    <body>
        <div>
        @ViewBag.Welcome<br/>
         Welcome to the auction..
    <br />
    <br />
    @Html.ActionLink("Auction is starting..", "FormAuction")
    </div>
    </body>
</html>