
@model IEnumerable<Blog>
<h1>Index</h1>
<p>
    < a asp-action = "Create" > Create New Blog </ a >
</p>
<table class = "table" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>